<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/hb1">HB1</a> |
    <a href="/hb2">HB2</a> |
    <a href="/hb3">HB3</a> |
    <a href="/hb4">HB4</a>
  </nav>

  {{{body}}}
</body>
</html>
